/*----Reset---*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*-----Common-----*/
body{
    background-image: url(https://img.freepik.com/free-photo/business-women-signature-document_1388-90.jpg?w=996&t=st=1671685478~exp=1671686078~hmac=cbd8185f084711dfba5d664ca29988cb76727427988c27898f0a94c920f6dd3a);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    
}

.view > button,
.delete > button{
    cursor: pointer;
    border: none;
    padding: 5px 8px;
    font-size: 0.8rem;
    transition: all 0.3s ease-in;
    border-radius: 3px;
}

.view > button:hover,
.delete > button:hover{
    background-color: rgb(247, 247, 249) !important;
    color: black !important ;
    font-weight: 600 !important;
}

input, textarea, table{
    font-size: 1rem;
}

::placeholder{
    font-size: 0.9rem;
}

/*-----header-----*/
#header{
    background-color: rgb(138, 126, 75);
    width: 100%;
    display: flex;
    margin: 0, auto;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

#header.h2{

}

.search > input{
    border-radius: 3px;
    font-size: 1rem;
    width: 250px;
    height: 30px;
    padding: 16px 10px;
}

.search > label{
    font-size: 18px;
    font-weight: 550px;
}

.main{
    display: flex;
    /* align-items: center; */
    background-color: transparent;
    justify-content: center;
    padding: 20px;
}

.form{
    background-color: transparent;
    border: 3px solid hsl(67, 62%, 45%);
    border-radius: 5px;
    margin: 5px;
    padding: 2rem;
    
}
.h2{
    align-items: center;
    display: grid;
    justify-content: center;
    font-size: 35px;
    font-family: Georgia;
    
}

#title{
    border-radius: 4px;
    font-size: 1rem;
    margin: 10px;
    width: 25rem;
    height: 45px;
    padding: 16px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#nBody{
    border-radius: 4px;
    font-size: 1rem;
    margin: 10px;
    width: 25rem;
    height: 45px;
    padding: 14px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#save{
    margin: 10px;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgb(148, 144, 247);
    font-size: 15px;
}

#reset{
    margin: 10px;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgb(252, 79, 5);
    font-size: 15px;
}

#save:hover{
    background-color: rgb(247, 247, 249) !important;
    color: #7700ff !important ;
    font-weight: 600 !important;
    border: 2px solid #8400ff;
}

#reset:hover{
    background-color: rgb(247, 247, 249) !important;
    color: rgb(255, 0, 0) !important ;
    font-weight: 600 !important;
    border: 2px solid red;
}

.main .tbl table{
    border: 3px solid hsl(39, 77%, 83%);
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 20px;
    width: 20rem;
    height: auto;
    overflow: auto;
    margin-left: 10px;
    margin-top: 5px;
}

.main .tbl table th{
    border: 3px solid hsl(39, 77%, 83%);
    padding: 3px;
    background-color: rgb(196, 196, 196);
    
}

.main .tbl table td{
    border: 3px solid hsl(39, 77%, 83%);
    padding: 3px;
    background-color: rgb(219, 219, 219);
    
    
}

.main .tbl table th:last-child,
.main .tbl table td:nth-last-child(2){
    text-align: center;
}
.main .tbl .view,
.main .tbl .delete{
    text-align: center;
}
.main .tbl table td{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete > button{
    background-color: rgb(255, 0, 0);
    color: rgb(245, 245, 245);
}

.view > button{
    background-color: rgb(15, 181, 0);
    color: white;
}

/*-------Responsive-------*/
@media (max-width: 680px){
    /*Header*/
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 10px;
    }
}

@media (max-width: 835px){
    /*main*/
    .main{
        flex-direction: column;
        align-items: center;
    }
    .main .form,
    .main .tbl{
        margin-bottom: 10px;
        min-width: 250px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 500px){
    .h2{
        align-items: center;
        display: grid;
        justify-content: center;
        font-size: 25px;
        font-family: Georgia;
        
    }
    
    #title{
        border-radius: 2px;
        font-size: 0.85rem;
        margin: 5px;
        width: 18rem;
        height: 28px;
        padding: 8px 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    #nBody{
        border-radius: 2px;
        font-size: 0.85rem;
        margin: 5px;
        width: 18rem;
        height: 28px;
        padding: 7px 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    #save{
        margin: 10px;
        padding: 4px 7px;
        border-radius: 5px;
        background-color: rgb(148, 144, 247);
        font-size: 12px;
    }
    
    #reset{
        margin: 10px;
        padding: 3px 7px;
        border-radius: 5px;
        background-color: rgb(252, 79, 5);
        font-size: 12px;
    }

    /*Table*/
    .main .tbl table{
        border: 2px solid hsl(39, 77%, 83%);
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
        padding: 10px;
        width: 20rem;
        height: auto;
        overflow: auto;
        margin-left: 5px;
        margin-top: 5px;
    }
    
    .main .tbl table th{
        border: 2px solid hsl(39, 77%, 83%);
        padding: 3px;
        background-color: rgb(196, 196, 196);
        
    }
    
    .main .tbl table td{
        border: 2px solid hsl(39, 77%, 83%);
        padding: 3px;
        background-color: rgb(219, 219, 219);
        
        
    }
    
    .main .tbl table th:last-child,
    .main .tbl table td:nth-last-child(2){
        text-align: center;
    }
    .main .tbl .view,
    .main .tbl .delete{
        text-align: center;
    }
    .main .tbl table td{
        max-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    
}